body {
  background-color: #263238;
}

#app {
  font-family: "Avenit", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #fff;
  margin-top: 60px;
}

input{
color: #000;
display: -webkit-flex;
display: -ms-flex;
display: flex;
width: 50%;
margin: 0 auto;
margin-bottom: 15px;
}

.link, .link:hover, .link:visited, .link:active{
color: #4fc08d;
}

.item-card {
border: 2px solid #4fc08d;
border-radius: 4px;
padding: 5px;
padding-bottom: 10px;
cursor: pointer;
}
